node_modules
.next
.next/**
out
build
coverage
.git
.gitignore
.github
.kilo
.idea
.vscode
data
prisma/dev.db
prisma/dev.db-journal
prisma/migrations
**/*.log
.DS_Store
*.pem
.env
.env.*
!.env.example
tests
docker-sandbox
.bun
